@model IEnumerable<WebMvc.Models.Students>

@{
    foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.ID)</td>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>@Html.DisplayFor(m => item.Email)</td>
            <td>@Html.DisplayFor(m => item.Address)</td>
            <td>
                <a href="#modalForm" data-value="@item.ID" onclick="setBtnValue('edit', event)" data-toggle="modal">Edit</a> /
                <a href="javascript:void(0);" onclick="RemoveStudent(@item.ID)">Delete</a>
            </td>
        </tr>
    }
}
